@import "../../theme/variables.scss";
$border: 10px solid $text-color;

.container {
  padding: 0 20px;
}

.title {
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.players {
  margin: 0 0 20px;
  text-align: center;
}

.playersWrap {
  display: inline-block;
}

.playersBlock {
  display: inline-block;
  font-size: 24px;
  padding: 0 20px;
}

.table {
  border: $border;
  font-weight: bold;
  height: 70vh;
  vertical-align: middle;
  width: 100%;
}

.tableCategory {
  border: $border;
  font-size: 32px;
  line-height: 32px;
  height: 12vh;
  padding: 0 20px;
  text-align: center;
  width: 25%;
}

.tableCell {
  border: $border;
  font-size: 48px;
  height: 8vh;
  text-align: center;
  width: 15%;
  &.active {
    background-color: $brand-danger;
  }
  &.completed {
    color: #333;
  }
}

.player {
  @extend .modal;
  font-size: 20vh;
  line-height: 20vh;
  text-align: center;
  z-index: 20;
  span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.image {
  @extend .modal;
  height: 1px;
  position: fixed;
  text-align: center;
  z-index: 10;
  &.active {
    height: 100%;
    width: 100%;
  }
  img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.cat {
  @extend .modal;
  height: 1px;
  width: 1px;
  z-index: 10;
  &.active {
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
  }
}

.auction {
  @extend .modal;
  z-index: 10;
  &.active {
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
  }
}

// Questions
.video {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  padding: 50px;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  &.active {
    visibility: visible;
  }
}

.image {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  padding: 50px;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  i {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 100px;
    left: 100px;
    right: 100px;
    top: 100px;
  }
  &.active {
    visibility: visible;
  }
}

.text {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  font-size: 8vh;
  line-height: 11vh;
  left: 0;
  padding: 0 50px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  div {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
}