@import "../../theme/variables.scss";

.table {
  border: 1px solid #999;
  vertical-align: middle;
  width: 100%;
}

.tableCategory {
  font-size: 24px;
  padding: 0 20px;
  width: 30%;
}

.tableCell {
  font-size: 48px;
  text-align: center;
  &.active {
    color: $brand-danger;
  }
  &.completed {
    color: #333;
  }
}

.player {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  font-size: 20vh;
  line-height: 20vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20;
  span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.image {
  background: rgba(0, 0, 0, 0.9);
  height: 1px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 1px;
  z-index: 10;
  &.active {
    height: 100%;
    width: 100%;
  }
  img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}