@import "../../theme/variables.scss";

.container {
  padding: 20px 0 0;
}

.addQuestionFrom {
  border: 1px solid #eee;
  margin: 0 0 10px;
  padding: 10px;
}

.tour {
  margin: 0 0 20px;
}

.category {
  margin: 0 0 20px;
}

.questions {
  display: flex;
  margin: 0 0 10px;
  padding: 0;
}

.questionsItem {
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  flex: 20% 1;
  margin: 0 10px 0 0;
  max-width: 20%;
  position: relative;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    .questionsItemActions {
      display: block;
    }
  }
}

.questionsItemActions {
  bottom: 10px;
  display: none;
  position: absolute;
}

.row {
  margin: 0 0 10px;
}

@media (max-width: 720px) {
  .questions {
    display: block;
  }
  .questionsItem {
    display: block;
    max-width: none;
  }
}