@import "../../theme/variables.scss";

.game {
  margin: 0 0 20px;
  overflow: hidden;
}

.tours {
  float: left;
}

.newGame {
  float: right;
}

.players {
  td {
    padding: 5px 10px;
    vertical-align: top;

    &.playersName {
      font-size: 20px;
      padding: 4px 10px 0 0;
    }

    &.playersScore {
      width: 100px;
    }
  }
}

.controls {
  margin: 0 0 20px;
}

.table {
  border: 1px solid #999;
  vertical-align: middle;
  width: 100%;
}

.tableCategory {
  font-size: 24px;
  padding: 0 20px;
  width: 30%;
}

.tableCell {
  cursor: pointer;
  font-size: 48px;
  text-align: center;
  &:hover {
    color: $brand-primary;
  }
  &.active {
    color: $brand-danger;
  }
  &.completed {
    color: #333;
  }
}